h1{
    color: rgb(14, 212, 57);
    font-family: 'Roboto Mono';
    font-size: '22px';
}

.bg{ 
    
    width:100%;
    height:100vh;
}
label{
    color: white;
}


#home{
background: url(https://wallpapercave.com/wp/dWouxIu.jpg) no-repeat center fixed;
display: table;
height: 100%;
position: relative;
width: 100%;
background-size: cover;
}
.form-container{
    border: 0px solid white;
    padding: 50px 60px;
    margin-top: 20vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
     box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);


}