<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="Brand" width="40px" height="40px"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB_DTwJleM_NpQKDYB2hDSiU5pbzBv_1Y-xUxMqVcWWpcRSfG3IQ">
      </a>
    </div>
    <ul class="nav navbar-nav">
          <li class="active">
            <a  href="">Parking</a>
          </li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Join us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li> <a routerLink="/login" class="nav-link">Login</a>
      </li>
      <li><a href="" class="btn">Signup</a></li>
    </ul>
  </div>
</nav>