<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="col-lg-4 col-md-6 footer-info">
        <h3>PARKING APPLICATION</h3>
        <p>
          Looking for parking in Bangalore? You’ve come to the right place. JustPark is The Parking App – and we’ll help you find a space in seconds, wherever and whenever you need one.
          View information on location, price, availability and restrictions for all of our Bangalore parking spaces – or for total peace of mind, book one of our 0 reservable spaces to guarantee your spot in advance, with prices starting at just £ per day.

        </p>
      </div>
      <div class="col-lg-4 col-md-6 footer-links">
        <h4>Connect us</h4>
        <ul>
          <li><a href="#">{{mail}}</a></li>
          <li><a href="#">{{helpMail}}</a></li>
        
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 footer-contact">
        <h4>Contact us</h4>
        <p>
          15th Block D <br>
          Maleshwaram, Bangalore<br>
          India <br>
          <strong>Phone :</strong> {{mobNumber}}<br>
          <strong>Email :</strong> {{mail}}<br> 
        </p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i> </a>
          <a href="#" class="twitter"><i class="fa fa-facebook"></i> </a>
          <a href="#" class="twitter"><i class="fa fa-instagram"></i> </a>
          <a href="#" class="twitter"><i class="fa fa-linkedin"></i> </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 footer-newsletter">
        <h4>Our Newsletter</h4>
          <p>

          </p>
          <form accept="" method="post">
            <input type="email" placeholder="Enter your Email" name ="email"> <input type="submit" value="Subscribe">
          </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; copyright <strong>Parking4U</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">Parking4U</a>
    </div>
  </div>
</footer>