<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="page-header">
        <h2 class="text-uppercase">Sign Up into Parking App</h2>
      </div>
      <form action="signup">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="number" class="form-control" id="mobile" placeholder="Enter mobile number" name="mobile" required>
          </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="remember" required> Agreed to T&C</label> &nbsp;
          <a>Know More</a>
        </div>
        <button type="submit" class="btn btn-success">Signup</button> &nbsp;
        <a href="index.html" class="btn btn-danger">Cancel</a>
      </form>
      <h3>Already exisiting user <a href="login">Click here</a></h3>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>